<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">2018 By Gorila Naranja</p>

<p class="text-center text-muted" style="padding:0px;" >
  <a href="https://github.com/GorilaNaranja/emails">Visit my Github</a>
</p>
