<style>
h1 { color: #333333; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


h2 { color: #3b332b; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


p { color: #996600; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

</style>
<main>
    <div class="jumbotron" style="background-color:#ffffff">
      <h1><%= title %></h1>
      <h2><%= subtitle %></h2>
      <p><%= body %></p>
      
      <div align="center">
        <img src='http://gifimage.net/wp-content/uploads/2017/10/how-to-send-a-gif-in-an-email-1.gif'</img>
      </div>
    </div>
</main>
