

<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<header>
  <div class="jumbotron">
    <h2><%= title %></h2>
    <p><%= subtitle %></p>

    <p><%= body %></p>


        <div class="container"><br />
          <form action="/send" method="post">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="form-group col-md-4">
                <label for="to">To:</label>
                <input type="email" class="form-control" name="to">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="form-group col-md-4">
                <label for="subject">Subject:</label>
                <input type="text" class="form-control" name="subject">
              </div>
            </div>

           <div class="row">
              <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                  <label for="body">Body:</label>
                  <textarea cols="5" rows="5"class="form-control" name="body"></textarea>
                </div>
            </div>

            <div class="row">
               <div class="col-md-4"></div>
                 <div class="form-group col-md-4">
                   <label for="template">Email template:</label>
                   <select  name="template">
                    <option value="email_space.ejs">Space</option>
                    <option value="email_unicorn.ejs">Unicorn</option>
                    <option value="email_letter.ejs">Letter</option>

                    </select>
                  </div>
             </div>




            <div class="row">
              <div class="col-md-4"></div>
              <div class="form-group col-md-4">
                <button type="submit" class="btn btn-success">Send</button>
              </div>
            </div>
          </form>
        </div>


  </div>

  </header>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
