<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body style="
  text-align: center;
  background-image:url('https://avatars.mds.yandex.net/get-pdb/770122/4dc5908e-abbf-405f-9f1b-78c770e9fec8/orig');
  background-size: cover;
  width:1000px;
  height:400px
  ">
    <div class="container">
      <div class="jumbotron">
        <h2 style="padding-top:30px;align-vertical:center; align-horizontal:center; color:white">Este email ha sido enviado de manera automática por Gorila Naranja</h2>
        <a style="text-align:button; align-horizontal:center;" href="https://github.com/GorilaNaranja/emails">Visit my Github</a>
      </div>
    </div>
  </body>
</html>
