<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<header>
    <% include ./partials/main %>
</header>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
