<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body style ="background-image:url('http://thelawofficeofmp.com/wp-content/uploads/2013/03/classical_letter_paper_vintage_backgrounds_for_presentations.jpg');
                background-size: cover; width:1000px; height:400px; text-align: center; background-repeat: no-repeat;">
    <div class="container">
      <div class="jumbotron">
        <h1 style="padding-top:30px; color:black"><%= text %></h1>
        <p style="padding-top:30px; color:black">Este email ha sido enviado de manera automática por Gorila Naranja</p>
        <a href="https://github.com/GorilaNaranja/emails">Visit my Github</a>
      </div>
    </div>
  </body>
</html>
